
    h1{
      text-align:center;
      color: rgb(112, 10, 10)
  }
  h2{
      text-align: center;
      color: white;
  }

  /* #reciept{
background-color: rgb(241, 225, 225);
margin: 0 auto;
text-align: left;
border-color: red;
border-collapse:collapse */
  /* } */

  #para1, #para2, #para3, #para4, #para5, #para6{
    margin-top:5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
  }
  
body{
  background-color:A57171;
}

.title{
  margin-left:auto;
}
.outer{
  text-align:center;
  margin: 50
}
.sphere{
  height: 200px;
width: 200px;
border-radius: 50%;
text-align: center;
vertical-align: middle;
font-size: 250%;
position: relative;
box-shadow: inset -10px -10px 80px #000, 10px 10px 20px black, inset 0px 0px 10px black;
display: inline-block;
margin: 0 auto;  
padding: 0px;
background: #FFA928;
color: rgb(112, 10, 10);
}

.pill-color-red{
  background-color: red;
  color: white;
}

.signinbutton{
  border-radius:25px;
  position: relative;
width: 217px;
height: 82px;
top: 80px;
margin-bottom: 500px;

background: #D34E4E;
border: 1px solid #FF0000;
box-sizing: border-box;
display: inline-block;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: 0 auto;
}
.reservebox{
  position: relative;
width: 136px;
height: 83px;


background-color: #D34E4E;
border: 1px solid #FFFFFF;
box-sizing: border-box;
}

.titleBackground{
  background-color: #981C1C;
}

center{
  margin: 0 auto;
}

.timebox{
  position: relative;
  width: 244px;
  height: 83px;
  border: 1px solid rgb(0, 0, 0);
  background: #FFDDAB;

  box-sizing: border-box;
  backdrop-filter: blur(4px);
}
.timebox2{
  position: relative;
  width: 244px;
  height: 83px;
  border: 1px solid rgb(0, 0, 0);
  background: #FEAF39;

  box-sizing: border-box;
  backdrop-filter: blur(4px);
}

.timeboxWriting{
  position: relative;
/* width: 96px;
height: 29px; */
text-align: center;
margin: auto;


font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;


color: #000000;

}


.signin{
  position: relative;
text-align:center;
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;

/* identical to box height, or 150% */

letter-spacing: -0.015em;
vertical-align: middle;

color: #FFFFFF;
}

.pill-color{
      background-color: white;
}

.navigationbutton{
  position: relative;
width: 217px;
height: 82px;
top: 80px;
}

table {  
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px; 
  border-collapse: 
  collapse; border-spacing: 0; 
  margin: 0 auto;
}

td, th {  
  border: 1px solid transparent; /* No more visible border */
  height: 30px; 
  transition: all 0.3s;  /* Simple transition for hover effect */
}

th {  
  background: #DFDFDF;  /* Darken header a bit */
  font-weight: bold;
}

td {  
  background: #FAFAFA;
  text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; }  
/* Hover cell effect! */


.personal{
  position: relative;
width: 200px;
height: 80px;
position: relative;
text-align:center;
border: 1px solid rgb(243, 137, 16);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background: #FFA928;
margin: 0 auto;
margin-bottom: 30px;
}

.form-control {
  min-width: 0;
  width: auto;
}

.navigationbutton{
background: #D34E4E;
border: 1px solid #FF0000;
box-sizing: border-box;
display: inline-block;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: 0 auto;
}
.writing{
  position: relative;
text-align:center;
  font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}

.mainheader{
  margin-bottom: 50px;
  align: center;
}

.center{
  margin-right: auto;
  margin-left: auto;
}

#cafe-list:hover{
  text-decoration: underline;
}
